<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>$(PRODUCT_COPYRIGHT)</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>

	<!-- Deeplinks  -->
	<key>CFBundleURLTypes</key>
	<array>
    	<dict>
			<key>CFBundleURLName</key>
			<!-- abstract name for this URL type (you can leave it blank) -->
			<string>QuestKeeper</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<!-- your schemes -->
				<string>questkeeper</string>
				<string>app.questkeeper</string>
        	</array>
    	</dict>
	</array>

	<!-- Posthog stuff -->
	<key>com.posthog.posthog.API_KEY</key>
    <string>phc_qnSKWJwL6oOoLYSEDEf6EVvDFyu336zFsUUq4loX3e6</string>
    <key>com.posthog.posthog.POSTHOG_HOST</key>
    <string>https://us.i.posthog.com</string>
    <key>com.posthog.posthog.CAPTURE_APPLICATION_LIFECYCLE_EVENTS</key>
    <true/>
    <key>com.posthog.posthog.DEBUG</key>
    <true/>

	<!-- For speech to text -->
	<!-- NSSpeechRecognitionUsageDescription -->
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We need speech recognition access to convert speech to text.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need microphone access to capture audio for speech recognition.</string>


</dict>
</plist>
